---
import ShowcaseCard from '../components/ShowcaseCard.astro'
import type { ShowcaseEntry } from '../libs/showcase'

interface Props {
  entries: ShowcaseEntry[]
  showControls?: boolean
}

const { entries, showControls } = Astro.props
---

{
  entries.length === 0 ? (
    <p>No entries found</p>
  ) : (
    <ul>
      {entries.map((entry) => (
        <ShowcaseCard {entry} {showControls} />
      ))}
    </ul>
  )
}
