---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'

import ShowcaseList from '../../components/ShowcaseList.astro'
import { getApprovedShowcaseEntries, isUserAdmin } from '../../libs/showcase'

export const prerender = false

const entries = await getApprovedShowcaseEntries()
---

<StarlightPage frontmatter={{ title: 'Showcase', tableOfContents: false }}>
  <div>
    <a href="/showcase/new">Add new entry</a>
  </div>
  {
    Astro.locals.user ? (
      <>
        {isUserAdmin(Astro.locals.user) ? <a href="/showcase/admin">Admin</a> : null}
        <form method="post" action="/showcase/logout">
          <button>Sign out</button>
        </form>
      </>
    ) : (
      <div>
        <a href="/showcase/login">Login</a>
      </div>
    )
  }
  <ShowcaseList {entries} />
</StarlightPage>
